doctype html
html
    head
      title= `${title}`
        link(rel="stylesheet", href="/css/style.css")
    body
      if data.properties
        h1 Update Party Details
      else
        h1 Add a New Party
      .form-wrapper
        form(method="POST")
          div
            label(for="name") Name:
            input(type="text" id="name" name="name" value=(data.properties ? data.properties.name : '') style="width: 350px;")
          div
            label(for="when") When:
            input(type="text" id="when" name="when" value=(data.properties ? data.properties.when : '') style="width: 350px;")
          div
            label(for="venue") Venue:
            input(type="text" id="venue" name="venue" value=(data.properties ? data.properties.venue : '') style="width: 350px;")
          input(type="submit" value="Update")
          .return-link
            a.btn.btn-primary(href="/") Return to the homepage
